.component {
  background-color: beige;
}

.grid_container {
  display: grid;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  height: 512px;
  width: 512px;
}

.grid-container > div {
  background-color: rgba(226, 12, 12, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.componentBasket {
  background-color: beige;
  color: black;
  height: 500px;
  width: 500px;
}
